# Output della compilazione.
/build/.latex/
/build/*.pdf

# File ausiliari creati da editor o compilazioni LaTeX manuali.
*.aux
*.fdb_latexmk
*.fls
*.log
*.maf
*.mtc*
*.out
*.synctex.gz
*.toc
*.sta
*.bbl
*.blg
*.nav
*.snm
*.vrb
/src/main.pdf
/src/junk/

# Metadati locali di macOS.
.DS_Store
